parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between DOMNamedNodeMap and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/lib/Input/Handler/Xml.php
