parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$str of function explode expects string, string\|null given\.$#'
			identifier: argument.type
			count: 4
			path: src/lib/Server/Controller/Content.php

		-
			message: '#^Parameter \#2 \.\.\.\$args of function array_merge expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\ContentType\\ContentType\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Server/Controller/ContentType.php

		-
			message: '#^Parameter \#1 \$arr1 of function array_merge expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\User\\Policy\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Server/Controller/Role.php

		-
			message: '#^Parameter \#1 \$input of function array_slice expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\User\\Role\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Server/Controller/Role.php

		-
			message: '#^Parameter \#2 \$error_type of function trigger_error expects int, string given\.$#'
			identifier: argument.type
			count: 4
			path: src/lib/Server/Controller/User.php

		-
			message: '#^Parameter \#1 \$str of function base64_encode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/bundle/Functional/BinaryContentTest.php

		-
			message: '#^Parameter \#2 \$newvalue of function ini_set expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: tests/lib/Output/Generator/FieldTypeHashGeneratorBaseTest.php
