parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$string of function explode expects string, string\|null given\.$#'
			identifier: argument.type
			count: 4
			path: src/lib/Server/Controller/Content.php

		-
			message: '#^Parameter \#2 \.\.\.\$arrays of function array_merge expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\ContentType\\ContentType\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Server/Controller/ContentType.php

		-
			message: '#^Parameter \#1 \$array of function array_slice expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\User\\Role\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Server/Controller/Role.php

		-
			message: '#^Parameter \#1 \.\.\.\$arrays of function array_merge expects array, iterable\<Ibexa\\Contracts\\Core\\Repository\\Values\\User\\Policy\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/lib/Server/Controller/Role.php

		-
			message: '#^Parameter \#2 \$error_level of function trigger_error expects int, string given\.$#'
			identifier: argument.type
			count: 4
			path: src/lib/Server/Controller/User.php


		-
			message: '#^Parameter \#1 \$string of function base64_encode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/bundle/Functional/BinaryContentTest.php
