<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="vendor/autoload.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  beStrictAboutTestsThatDoNotTestAnything="false"
  colors="true"
  >
  <testsuites>
    <testsuite name="Ibexa REST Bundle">
      <directory>tests/bundle/</directory>
      <exclude>tests/bundle/Functional</exclude>
    </testsuite>
    <testsuite name="Ibexa REST">
      <directory>tests/lib/</directory>
      <directory>tests/contracts/</directory>
      <exclude>tests/lib/Server</exclude>
    </testsuite>
    <testsuite name="Ibexa REST Server Tests">
      <directory>tests/lib/Server</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>src</directory>
    </whitelist>
  </filter>
</phpunit>
