<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  beStrictAboutTestsThatDoNotTestAnything="false"
  cacheDirectory=".phpunit.cache"
  colors="true"
  failOnDeprecation="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  >
  <testsuites>
    <testsuite name="Ibexa REST Bundle">
      <directory>tests/bundle/</directory>
      <exclude>tests/bundle/Functional</exclude>
    </testsuite>
    <testsuite name="Ibexa REST">
      <directory>tests/lib/</directory>
      <directory>tests/contracts/</directory>
      <exclude>tests/lib/Server</exclude>
    </testsuite>
    <testsuite name="Ibexa REST Server Tests">
      <directory>tests/lib/Server</directory>
    </testsuite>
  </testsuites>
  <source baseline="phpunit.baseline.xml" ignoreIndirectDeprecations="false" ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>src/bundle</directory>
      <directory>src/lib</directory>
      <directory>src/contracts</directory>
    </include>
  </source>
</phpunit>
